
*{
    font-family: 'Hind', sans-serif;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
.cantainer{
    
    width: 100%;
    height: 100vh;
    display: flex;
    justify-items: center;
    align-items: center;
    flex-direction: column;
}
.box{
    color: #497174;
    padding: 60px;
    border: none;
    border-radius: 10px;
    box-shadow: 2px 2px 10px;
    margin: auto;
    background-color: #EFF5F5;
    width: 40%;
    align-items: center;
    
    /* display: none; */
}
.row{
    margin-block: 50px;
}
.low{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 10%;
}
.button{
    
    font-size: 20px;
    margin-inline:20px  ;
    width: 30%;
    border-radius: 5px;
    background-color:#497174;
    color:rgb(255, 255, 255);
    border: none;
}
li {
    width: 100%;
    background-color: #D6E4E5;
    list-style: none;
    margin: 5px;
    padding: 5px;
    border-radius: 5px;
}
.button:hover{
    background-color:#EB6440; 
    cursor: pointer;
}
li:hover{
    background-color:#EB6440; 
    color:white;
    cursor: pointer;
}
.active{
    background-color:#EB6440; 
    color:white;
}
.right{
    background-color: green;
   color: white;
}
.wrong{
    background-color: red;
    animation: shake 0.5s;
}
@keyframes shake {
    0% { transform: translate(1px, 1px) rotate(0deg); }
    10% { transform: translate(-1px, -2px) rotate(-1deg); }
    20% { transform: translate(-3px, 0px) rotate(1deg); }
    30% { transform: translate(3px, 2px) rotate(0deg); }
    40% { transform: translate(1px, -1px) rotate(1deg); }
    50% { transform: translate(-1px, 2px) rotate(-1deg); }
    60% { transform: translate(-3px, 1px) rotate(0deg); }
    70% { transform: translate(3px, 1px) rotate(-1deg); }
    80% { transform: translate(-1px, -1px) rotate(1deg); }
    90% { transform: translate(1px, 2px) rotate(0deg); }
    100% { transform: translate(1px, -2px) rotate(-1deg); }
  }

  @media (max-width: 394px){
    
    .box{
        padding: 40px;
        border: none;
        border-radius: 10px;
        box-shadow: 2px 2px 10px;
        margin: auto;
        background-color: #EFF5F5;
        width: 95%;
        height: 80%;
        align-items: center;
    }
    .button{
    
        font-size: 20px;
        margin:   10px  ;
        width: 80%;
        border-radius: 5px;
        background-color:#497174;
        color:rgb(255, 255, 255);
        border: none;
    }
    li {
        width: 90%;
        background-color: #D6E4E5;
        list-style: none;
        margin: 20px;
        padding: 5px;
        border-radius: 5px;
    }
    .low{
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 10%;
        align-items: center;
        justify-items: center;
    }
    
   
}